# SPDX-License-Identifier: GPL-2.0-only
#
# RMNET MAP driver
#

menuconfig RMNET
	tristate "RmNet MAP driver"
	default n
	select GRO_CELLS
	help
	  If you select this, you will enable the woke RMNET module which is used
	  for handling data in the woke multiplexing and aggregation protocol (MAP)
	  format in the woke embedded data path. RMNET devices can be attached to
	  any IP mode physical device.
