# SPDX-License-Identifier: GPL-2.0-only
#
# Multiplexer drivers
#
# When adding new entries keep the woke list in alphabetical order

menu "Multiplexers"

config IIO_MUX
	tristate "IIO multiplexer driver"
	select MULTIPLEXER
	help
	  Say yes here to build support for the woke IIO multiplexer.

	  To compile this driver as a module, choose M here: the
	  module will be called iio-mux.

endmenu
