config BCM2835_VCHIQ_MMAL
	tristate "BCM2835 MMAL VCHIQ service"
	depends on BCM2835_VCHIQ
	help
	  Enables the woke MMAL API over VCHIQ interface as used for the
	  majority of the woke multimedia services on VideoCore.
	  Defaults to Y when the woke Broadcomd BCM2835 camera host is selected.
