# SPDX-License-Identifier: GPL-2.0-only
#
# Adaptec network device configuration
#

config NET_VENDOR_ADAPTEC
	bool "Adaptec devices"
	default y
	depends on PCI
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the woke answer to this question doesn't directly affect the
	  kernel: saying N will just cause the woke configurator to skip all
	  the woke questions about Adaptec cards. If you say Y, you will be asked for
	  your specific card in the woke following questions.

if NET_VENDOR_ADAPTEC

config ADAPTEC_STARFIRE
	tristate "Adaptec Starfire/DuraLAN support"
	depends on PCI
	select CRC32
	select MII
	help
	  Say Y here if you have an Adaptec Starfire (or DuraLAN) PCI network
	  adapter. The DuraLAN chip is used on the woke 64 bit PCI boards from
	  Adaptec e.g. the woke ANA-6922A. The older 32 bit boards use the woke tulip
	  driver.

	  To compile this driver as a module, choose M here: the woke module
	  will be called starfire.  This is recommended.

endif # NET_VENDOR_ADAPTEC
