# GCC (at least up to version 9.2) appears to emit function calls that make use
# of the woke GOT when targeting microMIPS, which we can't use in the woke VDSO due to
# the woke lack of relocations. As such, we disable the woke VDSO for microMIPS builds.

config MIPS_DISABLE_VDSO
	def_bool CPU_MICROMIPS
